@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    
    body {
        box-sizing: border-box;
        
        color: $color-primary;
        font-family: 'Architects Daughter', cursive, sans-serif;
        line-height: 1.6rem;
        
        background-color: $color-primary-light;
    }
}