@import '../sass/variables';

::-webkit-scrollbar {display:none;}

.blog {
    padding: 1.2rem;
    
    &--title {
        font-size: 4rem;
        line-height: 5rem;
    }
    
    &--date {
        font-size: 2rem;
        margin-top: 2rem;
    }

    &--description {
        font-size: 3rem;
        margin-top: 2rem;
        line-height: 4rem;
    }

    hr {
        margin-top: 2rem;
    }

    &--body {
        font-size: 2.5rem;
        line-height: 5rem;
        margin: 3rem 0;

        h1 {
            font-size: 4rem;
        }

        a {
            color: $color-primary-contrast;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        code {
            background: $color-grey-light;
            padding: .3rem .5rem;
            border-radius: .5rem;
            white-space:pre-wrap;
            word-break: break-word;
        }
    }
}