@import "../sass/variables";

.posts {
    list-style-type: none;

    &--post {
        margin-bottom: 2.5rem;
        padding: 1.2rem;
        background-color: $color-grey-light;
        border-radius: 1rem;
        
        &--link {
            text-decoration: none;
            color: $color-primary;
            
            h2 {
                font-size: 3rem;
                margin-bottom: 2rem;
                line-height: 3rem;
            }
            
            &--published-date {
                font-size: 2rem;
                font-style: italic;
            }

            &--description {
                margin-top: 1rem;
                font-size: 2rem;
                line-height: 3rem;
            }
        }
        
        a:hover {
            
        }
    }
}

@media (max-width: 600px) {
    .posts {
        &--post {
            &--link {
                h2 {
                    font-size: 2rem;
                    line-height: 2rem;
                }
            }
        }
    }
}